  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

p{
    color : rgb(86,86,86);                                                                     
}

a,
.btn {
    transition: all 500ms ease; 
}

/* TRANSITION */
a, .btn {
    transition: all 300ms ease;
}

/*DESKTOP NAV */

nav, .nav-links {
    display: flex;
}
nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}
.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color:grey;
    text-decoration-color: rgb(181,181,181);

}
.logo:hover {
    cursor: default;
}

.nav-links li a:hover {
    font-size: 1.3rem;
}

.logo img {
    width: 5rem; 
    height: auto; 
}
/*HAMBURGER-MENU*/
#desktop-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure the nav bar stays on top */
    background-color: white; /* Adjust the background color as needed */
    border-bottom: 1px solid black; /* Add a border at the bottom for separation */
}

#hamburger-nav {
    display: none;
    z-index: 1000; /* Ensure the nav bar stays on top */
    background-color: white; /* Adjust the background color as needed */
    border-bottom: 1px solid black; /* Add a border at the bottom for separation */

}

.hamburger-menu {
    position: relative;
    display: inline-block;
    z-index: 1001;
}

.hamburger-icon {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
    z-index: 4;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}
.menu-links {
    position: absolute;
    top: 100%;
    right:0;
    background-color: white;
    width:fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
    z-index: 4;

}
.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}
.menu-links li {
    list-style-type: none;
}
.menu-links.open {
    max-height: 300px;
}
.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px,5px);
}
.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}
.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px,-5px);
}
.hamburger-icon span:first-child {
    transform: none;
}
.hamburger-icon span:first-child {
    opacity: 1;
}.hamburger-icon span:first-child {
    transform: none;
}

@font-face {
    font-family: titleFont;
    src: url(Roxie\ rossa.ttf);
    }

@font-face {
    font-family: cursive;
    src: url(cursive.ttf);
    }

body {
    overflow-x: hidden;

}
.paralax {
    position: relative;
    height: 100%
}
.paralex-item {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
}
.p-item1 {
    margin: 10px;
    background: url("assets/bgg.jpeg") center/cover no-repeat;
}
.p-item3 {
    background: url("assets/inver.png") center/100% no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.p-item4 {
    position: absolute;
    top:0;
    left:0;
    width: 10000%;
    height: 100%;
    content: '';
    background: url("assets/fog.webp") repeat-x;
    background-size: contain;
    background-position:center;
    animation: marquee 20s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translate3d(0,0,0);
    }
    100% {
        transform: translate3d(-200vw, 0, 0);
    }
}
.container {
    position: relative;
    z-index: 1;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 100vh;
}

.info-container {
    text-align: left; /* Align the content to the left */
    display: flex;
    align-items: center;
}

.info-container > h4 {
    color: black;
    flex:1;
    margin-left: 20px;
    text-align: left; /* Align the text to the left */
    padding: 1rem; /* Adjust padding for spacing */
    background: white;
    max-width: 700px;
    letter-spacing: 1.5px; /* Adjust the spacing between characters */

}
.info-container > img {
    flex: 1;
    height: 500px;
    width: 400px;
    margin-left: 20px;
}
.content-header h3 {
    font-family: cursive;
    color: black;
    text-align: left;
    margin-left: 250px;
    font-size: 40px;
}

.content-header h2 {
    font-family: titleFont;
    color: black;
    text-align: left;
    margin-left: 320px;
    text-transform: uppercase;
    font-size: 80px;

}




/*PROJECTS SECTION */
#projects {
    width: 80%;
    margin-left: 200px;
    margin-right: 200px;

    text-align: center;
    background: url(assets/gridin.png);
}

.container1 {
    display: grid;
    place-items: center;
    margin-inline: 1rem;
    padding-block: 3rem;
    margin-bottom: 150px;
}

p {
    margin-top: 20px;
}
 #projects h1 {
    margin-top: 10px;
    font-family: titleFont;
    font-size: 40px;

}

.card_container {
    display: grid;
    /* row-gap: 4rem; */
    margin-bottom: -30px;
}

.card_article {
    position: relative;
    overflow: hidden;
}
.card_img {
    border-radius: 1.5rem; 
    margin-bottom: 20px;
    margin: 20px;
}
.card_data {
    width: 280px;
    background-color: white;
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0; 
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}

.card_descrip {
    display: block;
    font-size: 15px;
    margin-bottom: .25rem;
    color: gray;

}

.card_title {
    font-family: titleFont;
    color: black;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: .75rem;

}

.card_button {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: gray;
}

.card_button:hover {
    text-decoration: underline;

}


/*ANIMATION*/

.card_article:hover .card_data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card_article:hover {
    animation: remove-overflow 2s forwards;
}
.card_article:not(:hover ){
    animation: show-overflow 2s forwards; 
}
.card_article:not(:hover ) .card_data{
    animation: remove-data 1s forwards;
}

@keyframes show-data {
    50% {
        transform: translateY(-10rem);
    } 
    100% {
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow {
to {
    overflow: initial;
    }
}

@keyframes remove-data {
    0% {
        transform: translateY(-7rem);
    }
    50% {
        transform: translateY(-10rem);
    }
    100% {
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }
    50% {
        overflow: hidden;
    }
}

@media screen and (max-width: 340px) {
    .container1 {
        margin-inline: 1rem;
    }
    .card_Data {
        width: 240px;
        padding: 1rem;
    }
    
}

@media screen and (min-width: 768px) {
    .card_container {
        grid-template-columns: repeat(2,1fr);
        column-gap: 1.5rem;
    }
}

@media screen and (min-width: 1120px) {
    .container1 {
        height: 50vh;
    }
    .card_container {
        grid-template-columns: repeat(3, 1fr);
    }
    .card_data {
        width: 316px;
        padding-inline: 2.5rem;
    
    }
}


.social {
    display:flex;
    justify-content: right;
}

.social img {
    width: 100%;
    height: 30px;
}
.social  a{
    text-decoration: none;
    padding:10px;
    background-color: white;
    margin:10px;
    border-radius:50%;
}
.social  a:hover {
    background-color: lavenderblush;
    transition: 0.5s;
}

.footerContainer {
    background-color: lightgray;
    width: 100%;
    padding: 70px 30px 20px;
}

